extends layout.pug

block content

  article.portfolio-intro

    
    h1 Cindee's Portfolio

    p A collection of my Treehouse TechDegree projects 1-5. This website is project 6, the goal of which is to create ths website and link to the projects I have created already so you can check them out!!


  article.portfolio-project-thumbs
    .projects-box.box.grid
  
      each project in projects

        .cell
          a(href=`projects/${project.id}`)
            img.thumbnail(src= `${project.image_urls[3]}`, alt=`${project.image_urls[0].slice(40, -4)}`)
            h5 #{project.project_name}

